@import 'utility.css';

:root{
    --black: #000000;
    --nav-bar: rgba(43, 43, 43, 0.523);
    --content-bg: #1c1c1c;
    --highlight: #ffd700;
    --header: #0c2340;
    --text: #b0b0b0;
    --red: #8b0000;
    --white: #ffffff;
}

*{
    font-family: 'Bangers', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    background: url('../images/gotham-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    overflow: hidden;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
}

.container nav{
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(43, 43, 43, 1), rgba(43, 43, 43, 0));
}

header .container .left{
    align-items: center;
}

header .container .left .logo{
    height: 50px;
    margin-left: 2rem;
    cursor: pointer;
}

header .container .right{
    align-items: center;
    margin-right: 2rem;
}

header .container .right .nav-menu{
    gap: 2.5rem;
}

header .container .right .nav-menu a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.7rem;
    -webkit-text-stroke: 0.2px var(--white);
    transition: all 300ms ease;
}

header .container .right .nav-menu a:hover{
    color: var(--white);
}

header .hero{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: relative;
}

header .hero h1{
    font-size: 10rem;
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: var(--white);
    z-index: 2;
    text-shadow: 0 9px black;
}

header .hero span{
    position: absolute;
    right: 24.3%;
    top: 11.7rem;
    transform: rotate(20deg);
    z-index: 4;
    font-size: 1.4rem;
}

header .hero .batman{
    position: absolute;
    top: 35%;
    z-index: 3;
}

header .hero .boom{
    height: 150px;
    position: absolute;
    right: 20%;
    top: 74%;
    z-index: 1;
    transform: rotate(20deg);
}

section.about{
    background: var(--header);
    padding-bottom: 8rem;
    position: relative;
}

section.about .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.about .batman{
    position: absolute;
    transform: scale(0.3);
    left: 45rem;
    top: -5rem;
}

section.about .container .section-heading{
    margin-top: 5rem;
    font-size: 5rem;
    -webkit-text-stroke: 0.08px white;
    text-shadow: 0 9px black;
}

section.about .container .info-card{
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border: 5px solid var(--black);
    border-radius: 20px;
    margin-top: 5rem;
    position: relative;
    background-image: radial-gradient(
      circle at center,
      black 0.25rem,
      transparent 0
    ), radial-gradient(circle at center, black 0.25rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;
}

section.about .container .info-card .bruce{
    height: 250px;
    margin: 3rem;
    border: 5px solid black;
}

section.about .container .info-card .hover-content{
    position: absolute;
    top: 1rem;
    left: 17rem;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

section.about .container .info-card .hover-content .bubble{
    height: 100px;
}

section.about .container .info-card .hover-content p{
    position: absolute;
    top: 2.35rem;
    left: 1.2rem;
}

section.about .container .info-card .bruce:hover ~ .hover-content{
    opacity: 1;
}

section.about .container .info-card .content{
    width: 40%;
    color: var(--highlight);
    -webkit-text-stroke: 0.1px black;
}

section.about .container .info-card .content h1{
    font-size: 3rem;
    letter-spacing: 2px;
}

section.about .container .info-card .content p{
    font-size: 1rem;
    line-height: 1.2;
    text-align: justify;
}